torch
torchvision
numpy
opencv-python
albumentations
labelme
labelme2coco
pycocotools
cython
fvcore
omegaconf
albumentations
torchmetrics
cloudpickle
opencv-python
tqdm
tensorboard
addict
scikit-learn
pathspec